<header class="c-header">
    <div class="c-header__container">
        <div class="c-header__wrapper">
            <a href="./index.html" class="c-header__logo">
                <figure>
                    <img src="./assets/images/header/logo.png" alt="logo">
                </figure>
                <figcaption>Recruitment 2020</figcaption>
            </a>

            <nav class="c-header__nav">
                <ul>
                    <li><a href="#"> 私たちについて</a></li>
                    <li><a href="#"> 私たちの仕事</a></li>
                    <li><a href="#"> キャリアプラン</a></li>
                    <li><a href="#"> 社員インタビュー</a></li>
                    <li><a href="#"> 会社情報</a></li>
                    <li><a href="#"><span></span> 募集要項</a></li>
                </ul>
            </nav>

        </div>
    </div>
</header>
<!-- end header -->