<%
const basePath = '..';
const title = 'about';
const description = '';
const keyword = '';
%>
<html lang="ja">
<head>
    <%- include('../partials/_head', { basePath, title, description, keyword }); %>
</head>
<body>
    <%- include('../layout/_header', { basePath }); %>
    <main class="c-main">

    </main>
    <%- include('../layout/_footer', { basePath }); %>
</body>
</html>
