<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%- typeof title !== 'undefined' ? title : '' %></title>

<link
  rel="stylesheet"
  type="text/css"
  href="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/styles/slick.css"
/>

<!-- CSS -->
<link
  rel="stylesheet"
  href="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/styles/style.css"
/>

<!-- JS lib -->
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/jquery.min.js"></script>
