<% const basePath='.' ; const title='test' ; const description='' ; const keyword='' ; %>
  <!DOCTYPE html>
  <html lang="ja">

  <head>
    <%- include('partials/_head', { basePath, title, description, keyword }); %>
  </head>

  <body>
    <%- include('layout/_header', { basePath }); %>

      <main class="c-main">

      </main>
      <!-- end main -->

      <%- include('layout/_footer', { basePath }); %>
  </body>

  </html>